.chart {
  height: 500px;
}

.bar-item {
	display: inline-block;
	width: 25%;
  float: left;
  position: relative;
}

.val {
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	font-weight: bold;
}

.bar {
	background-color: grey;
	margin-top: 1px;
	outline: 1px solid black;
	color: white;
	padding: 4px;
	float: left;
}
