.chart {
  height: 850px;
  padding-top: 25px;
}

.bar-item {
	display: inline-block;
	width: 100%;
}

.val {
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	font-weight: bold;
}

.bar {
	background-color: #1D757F;
	margin-top: 1px;
	outline: 1px solid black;
	color: white;
	padding: 4px;
	float: left;
}
